<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Myles Kennedy: about</title>
    <link rel="stylesheet" href="/css/about.css" />
  </head>
  <body>
    <nav>
      <div>
        <span class="heart">❤</span>
      </div>
      <ul class="top_links">
        <a href="/">Home</a>
        <a href="/works">Works</a>
      </ul>
    </nav>

    <div id="page_content">
      <h1>Who's Myles Kennedy?</h1>
      <p>
        Born in Boston, Massachusetts, and raised in Northern Idaho and Spokane,
        Kennedy attended Spokane Falls Community College to study music theory.
        He began his music career in 1990 as the lead guitarist of the
        instrumental jazz ensemble Cosmic Dust, with which he released one
        studio album. His second band, Citizen Swing, released two studio albums
        before disbanding in 1996. With fellow Citizen Swing member Craig
        Johnson, Kennedy founded the rock band The Mayfield Four, for which he
        provided lead vocals and guitar. The band released two studio albums and
        broke up in 2002. After declining an offer to audition as the lead
        vocalist of Velvet Revolver, he was asked to join Alter Bridge by Mark
        Tremonti in late 2003, formally joining in 2004, and he has been with
        the band ever since. He has released seven studio albums with Alter
        Bridge.<br /><br />

        While Alter Bridge was on tour in 2008, Kennedy and former members of
        Led Zeppelin met and improvised as a group in an informal jam session,
        but the band never fully materialized. He then started working with
        Slash, featuring on the guitarist's 2010 eponymous solo album on two
        tracks and later serving as Slash's vocalist on tour. In 2012, Kennedy
        filled in with short notice for Guns N' Roses lead singer Axl Rose when
        Rose refused to show up for the band's Rock and Roll Hall of Fame
        induction ceremony.[3] With Slash, Myles Kennedy and the Conspirators
        have recorded four studio albums. Kennedy's debut solo album, Year of
        the Tiger, was released in 2018, and his second solo album, The Ides of
        March, was released in 2021.
      </p>
      <br />
      <img src="/images/mk-on-stage.jpeg" alt="Myles Kennedy on stage" />
    </div>

    <footer>
      source:
      <a href="https://en.wikipedia.org/wiki/Myles_Kennedy">Wikipedia</a>
    </footer>
  </body>
</html>
