<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Myles Kennedy: rockstar of the era</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <nav>
      <div>
        <span class="heart">❤</span>
      </div>
      <ul class="top_links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
      </ul>
    </nav>
    <div class="page_content">
      <h1>Myles Kennedy</h1>
      <p>
        Myles Richard Bass[1] (born November 27, 1969), known professionally as
        Myles Kennedy,[2] is an American singer, guitarist, and songwriter. He
        is the lead vocalist and rhythm guitarist of the rock band Alter Bridge
        and the lead vocalist in guitarist Slash's backing band, known as Myles
        Kennedy and the Conspirators. A former guitar instructor from Spokane,
        Washington, Kennedy has worked as a session musician and songwriter,
        making both studio and live appearances with several artists, and has
        been involved with several projects throughout his career.
      </p>
      <img
        src="/images/MylesKennedy_Guitar.jpg"
        alt="Myles Kennedy with a guitar"
      />
    </div>
    <footer></footer>
  </body>
</html>
