<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Miles Kennedy: works</title>
    <link rel="stylesheet" href="/css/works.css" />
  </head>
  <body>
    <nav>
      <div>
        <span class="heart">❤</span>
      </div>
      <ul class="top_links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
      </ul>
    </nav>
    <h1>Carrer</h1>
    <div class="page_content">
      <ul>
        <li>Cosmic Dust and Citizen Swing: 1990–1995</li>
        <li>The Mayfield Four: 1995–2002</li>
        <li>Alter Bridge: 2003–present</li>
        <li>Solo career: 2009–2010; 2017–present</li>
      </ul>
      <img
        src="/images/Alter_Bridge.jpg"
        alt="Alter Bridge show with Myles Kennedy"
      />
    </div>
    <footer></footer>
  </body>
</html>
